--requirement requirements-docs.txt
--requirement requirements-test.txt
absolufy-imports==0.3.1
bandit==1.7.4
black==22.6.0
blacken-docs==1.12.1
mypy==0.971
pep8-naming==0.13.1
perflint==0.7.3
pre-commit==2.20.0
pyupgrade==2.37.3
radon[toml]==6.0.1
ruff==0.0.262
