--requirement requirements-docs.txt
--requirement requirements-test.txt
mypy==1.15.0
perflint==0.8.1
pre-commit==3.8.0
pyprojectsort==0.4.0
pyupgrade==3.19.1
radon[toml]==6.0.1
removestar==1.5.2
ruff==0.11.8
