--requirement requirements-docs.txt
--requirement requirements-test.txt
mypy==1.11.1
perflint==0.8.1
pre-commit==3.8.0
pyprojectsort==0.3.0
pyupgrade==3.17.0
radon[toml]==6.0.1
removestar==1.5
ruff==0.5.7
